$text-color: #5A5A5A;

$inner-teal: #D2F8F5;
$outer-teal: #4ECDC4;

$inner-yellow: #FFE884;
$outer-yellow: #FFCF00;

$inner-pink: #FFA7A7;
$outer-pink: #FF6B6B;

$button-color: #1A535C;

$light-color: white;
$danger-color: #dc3545;
$success-color: #28a745;
